<!DOCTYPE html>
<html>
<head>
    <title>Edit Article</title>
</head>
<body>
    <h1>Edit Article</h1>
    <form action="/articles/<%= article._id %>?_method=PUT" method="POST">
        <label>Title</label>
        <input type="text" name="title" value="<%= article.title %>" required>
        <label>Description</label>
        <textarea name="description" required><%= article.description %></textarea>
        <label>Tags (comma separated)</label>
        <input type="text" name="tags" value="<%= article.tags.join(', ') %>">
        <label>Author</label>
        <input type="text" name="author" value="<%= article.author %>" required>
        <button type="submit">Update</button>
    </form>
    <a href="/articles">Back to Articles</a>
    <a href="/articles/<%= article._id %>">Back to Article</a>
</body>
</html>
